<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header  :: header"/>
<body>

<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- Carousel -->
<div class="container">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3  bg-light">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="5000">
                    <img src="../../resources/static/images/book_collage/books_to_read.jpg"
                         th:src="@{/images/book_collage/books_to_read.jpg}" class="d-block w-100" alt="..."/>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="5000">
                    <img src="../../resources/static/images/book_collage/thriller_mystery.png"
                         th:src="@{/images/book_collage/thriller_mystery.png}" class="d-block w-100" alt="..."/>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>

                <div class="carousel-item" data-interval="5000">
                    <img src="../../resources/static/images/book_collage/under_the_radar.png"
                         th:src="@{/images/book_collage/under_the_radar.png}" class="d-block w-100" alt="..."/>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<!-- Featured -->
<div class="container">
    <div class="card-deck mb-3 text-center">

        <div class="card mb-4 shadow-sm col-md-12 col-lg-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Top Seller</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">A Good Neighborhood</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Therese Anne Fowler</li>
                    <div class="container">
                        <a href="#">
                        <img src="../../resources/static/images/book_covers/a_good_neighborhood.jpg"
                        th:src="@{/images/book_covers/a_good_neighborhood.jpg}" class="d-block w-100" alt="..."/>
                        </a>
                    </div>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">More Info</button>
            </div>
        </div>

        <div class="card mb-4 shadow-sm col-md-12 col-lg-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">December's Top Book</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">The Deep</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Rivers Solomon</li>
                    <div class="container">
                        <a href="#">
                            <img src="../../resources/static/images/book_covers/the_deep.jpg"
                                 th:src="@{/images/book_covers/the_deep.jpg}" class="d-block w-100" alt="..."/>
                        </a>
                    </div>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">More Info</button>
            </div>
        </div>

        <div class="card mb-4 shadow-sm col-md-12 col-lg-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2019 BotY</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">American Dirt</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Jeanine Cummins</li>
                    <div class="container">
                        <a href="#">
                            <img src="../../resources/static/images/book_covers/american_dirt.jpg"
                                 th:src="@{/images/book_covers/american_dirt.jpg}" class="d-block w-100" alt="..."/>
                        </a>
                    </div>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">More Info</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>